# Admin Portal URL
NEXT_PUBLIC_ADMIN_URL=https://admin.bodegacatsgc.gg

# Global Rankings URLs
NEXT_PUBLIC_GLOBAL_RANKINGS_URL=https://k.siba.gg
NEXT_PUBLIC_GLOBAL_RANKINGS_EMBED_URL=https://k.siba.gg/embed/leaderboard
NEXT_PUBLIC_API_URL=https://api.bodegacatsgc.gg
